
# Python Basics Notebook

This notebook gives a **short recap** of fundamental Python concepts,
followed by **mini exercises** to practice them.

Topics covered:
1. For loops
2. While loops
3. If-else statements
4. Dictionaries
5. Lists
6. Functions
7. Classes


Each section contains a short explanation, a code example, and an exercise.


## 1. For Loops

A `for` loop is used to iterate over a sequence (list, string, range, etc.).

**Example:**

```python
for i in range(5):
    print(i)
```
This prints numbers 0 through 4.

**Exercise:** Print each element in the list `[10, 20, 30, 40]` using a `for` loop.

In [1]:
# Your code here
list = [10, 20, 30, 40]

for i in list:
  print(i)

10
20
30
40


## 2. While Loops

A `while` loop repeats as long as a condition is `True`.

**Example:**
```python
x = 0
while x < 5:
    print(x)
    x += 1
```
This prints numbers 0 through 4.

**Exercise:** Use a `while` loop to count down from 5 to 1.

In [2]:
# Your code here
x = 5
while x > 0:
  print(x)
  x -= 1

5
4
3
2
1


## 3. If-Else Statements

Conditional statements control the flow of execution.

**Example:**
```python
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")
```

**Exercise:** Write an `if-else` statement that checks if a number is even or odd.

In [4]:
# Your code here
def check_odd(num):
  if num % 2 == 0:
    return False
  else:
    return True

print(check_odd(10))
print(check_odd(5))

False
True

## 4. Lists

Lists store ordered collections of items.

**Example:**
```python
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # banana
```

**Exercise:** Create a list of 5 numbers and print the sum of all elements.

In [5]:
# Your code here
list = [1, 2, 3, 4, 5]
sum = 0

for i in list:
  sum += i

print(sum)

15


## 5. Dictionaries

Dictionaries store data as key-value pairs.

**Example:**
```python
person = {"name": "Alice", "age": 25}
print(person["name"])
```

**Exercise:** Create a dictionary for a student with keys: `name`, `age`, and `grade`. Print the grade.

In [7]:
# Your code here
person = {"name": "Max", "age": 20, "grade": 1}
print(person["grade"])

1


## 6. Functions

Functions group code into reusable blocks.

**Example:**
```python
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))
```

**Exercise:** Write a function `square(n)` that returns the square of a number.

In [9]:
# Your code here
def square(n):
  return n**2

print(square(5))

25


## 7. Classes

Classes define objects with attributes and methods.

**Example:**
```python
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        return f"{self.name} says woof!"

dog = Dog("Buddy")
print(dog.bark())
```

**Exercise:** Create a class `Car` with attributes `brand` and `year`. Add a method `info()` that returns a string with both attributes.

In [17]:
# Your code here
class Car:
  def __init__(self, brand, year):
    self.brand = brand
    self.year = year

  def info(self):
    return "Brand: " + self.brand + " | Year: " + str(self.year)


car1 = Car("BMW", 2012)

print(car1.info())

Brand: BMW | Year: 2012